
.pledge-info-container {
  border: 1px solid black;
}

.pledge-info {}

Pledge-Info-pledge-info-number {
  color: red;
}
.info {
  color: red;
}
p {
  color: blue;
}

.pledge-info-project-btn {}

.pledge-info-remind-btn {}

.pledge-info-time-stamp {}

