.pledgeSupportAmountContainer {
  font-family: 'Arimo', 'Montserrat', sans-serif;
  border: 1px solid #dcdedd;
  margin-top: 3em;
  padding: 3em;
}

.pledgeSupportAmountContainer:hover {
  background: rgba(0, 158, 116, 0.9);
}

.hover {
  position: relative;
  height: 1em;
  left: 33%;
  width: 20em;
}

.hover h3 {
  color: #fff;
  position: absolute;
  top: 450%;
  right: 25%;
  opacity: 0;
  z-index: 2;
}

.pledgeSupportAmountContainer:hover .pledgeSupportDescription .hover h3 {
  opacity: 1;
}

.pledgeSupportAmountContainer:hover .pledgeSupportAmount, .pledgeSupportAmountContainer:hover .pledgeSupportDescription li, .pledgeSupportAmountContainer:hover .pledgeSupportDescription h4, .pledgeSupportAmountContainer:hover .pledgeSupportDescription p {
  opacity: 0.5;
}

.pledgeSupportAmount h1 {
  font-size: 1.75em;
  font-weight: 100;
}

.pledgeSupportDescription {
  font-size: 1em;
  color: #727575;
}

.pledgeSupportDescription h4 {
  font-size: 1.5em;
  font-weight: 100;
  color: #282828;
}

.pledgeSupportDescription li {
  color: #282828;
  padding: 0.5em 0;
}


