
div {
    font-family: 'Arimo', 'Montserrat', sans-serif;
    background-color: #fbfbfa;
  }
  
  /* #pledge-info {} */
  
  .pledgeInfoContainer {
    border-top: 0.25em solid #009E74;
    padding-top: 1em;
  }
  
  .pledgeInfo {
    color: #656969;
    font-size: 1.16em;
    margin-top: -1em;
  }
  
  .pledgeInfoNumber {
    font-size: 2em;
    margin-top: 0.25em;
  }
  
  .pledgeInfoNumber span {
    color: #017360;
    margin-top: 2em;
  }
  
  button:hover {
    transform: translateY(-2px);
    transition: all 0.25s ease-in-out;  
    box-shadow: 0 8px 10px -6px #DCDEDD;
  }
  
  .pledgeInfoProjectBtn {
    background-color: #009E74;
    color: #fff;
    height: 3.5em;
    width: 100%;
    margin-top: 2em;
    font-size: 1.25em;
  }
  
  .pledgeInfoProjectBtn:hover {
    background-color: #037362;
  }
  
  
  
  .pledgeInfoRemindBtn {
    border: 1px solid #dcdedd;
    background-color: #fff;
    height: 3.5em;
    width: 50%;
    margin-top: 1.25em;
    font-size: 1em;
  }
  
  .pledgeInfoRemindBtn:hover {
    border: 1.5px solid #000;
  }
  
  .fa-heart {
    font-size: 1.3em;
  }
  
  .pledgeInfoTimeStamp {
    color: #282828;
    margin-top: 3em;
  }
  
  .pledgeInfoTimeStamp span {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #282828;
    /* margin-bottom: 1px; */
    cursor: pointer;
  }